.leftMenu {
    width: 240px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34,34,34,0.6);
    backdrop-filter: blur(10px);
    padding: 25px 30px;
    overflow: hidden;
    transition: all 0.3s ease;
} 

.leftMenu .logoContainer {
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.leftMenu .logoContainer i {
    font-size: 30px;
}

.leftMenu .logoContainer i:nth-of-type(2) {
    font-size: 20px;
}

.leftMenu .logoContainer h2 {
    font-size: 20px;
}

